body{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    width: 100px;
    height: 40px;
}

img{
    width: 300px;
}

div#res{
    text-align: center;
    background-color: white;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 1.2em;
}

button#ligar:hover{
    background-color: orange;
}

button#desligar:hover{
    background-color: black;
    color: white;
}